<div class="well">
  <button ng-click="toggleAddGroupDialog()" ng-bind="addGroupButtonText"></button>

  <div ng-show="addGroupDialogVisible">
    <form class="form-horizontal" name="groupForm" novalidate>
      <div class="form-group">
        <label class="col-md-2 control-label" for="group-name">Group name</label>
        <div class="col-md-10">
          <input
            class="form-control"
            type="text"
            ng-model="group.name"
            name="groupName"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="member-selector">Add friend</label>
        <div class="col-md-10">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Search friends..."
              typeahead="i as i.attributes.name for i in getFriends($viewValue)"
              autocomplete="off"
              ng-model="selectedFriend"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="addMember(selectedFriend)">Add</button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <table class="group-table">
            <colgroup>
              <col class="group-member-name" />
              <col class="group-member-remove" />
            </colgroup>
            <thead>
              <th>Name</th>
              <th>Remove</th>
            </thead>
            <tbody>
              <tr ng-repeat="i in group.members">
                <td>{{i.attributes.name}}</td>
                <td>
                  <button
                    ng-hide="i.id === currentUser.id"
                    ng-click="removeMember(i)"
                  >Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <input
        class="form-control btn-primary"
        type="submit"
        value="Add group"
        ng-click="addGroup()"
        ng-disabled="groupForm.$invalid"
        ng-class="{disabled: groupForm.$invalid}"
      />
    </form>
  </div>
</div>

<div>
  <div ng-hide="userGroups.length">You have no groups.</div>
  <div ng-repeat="group in userGroups">
    <h4>{{group.attributes.name}}</h4>
    <p>
    Preferred place: <select ng-model="group.preferredPlace" ng-click="savePreferredPlace(group)">
      <option value="North Quad">North Quad</option>
      <option value="South Quad">South Quad</option>
      <option value="East Quad">East Quad</option>
      <option value="Mojo">Mojo</option>
      <option value="La Marsa">La Marsa</option>
    </select>
    </p>
    <button ng-click="addTimePreference(group)">Add time</button>
    <button ng-click="saveTimePreferences(group)">Save</button>
    <table class="time-table">
      <colgroup>
        <col class="time-start" />
        <col class="time-end" />
        <col class="time-remove" />
      <thead>
        <th>Start time</th>
        <th>End time</th>
        <th>Remove</th>
      </thead>
      <tbody>
        <tr ng-repeat="timePreferences in group.timePreferences[currentUser.id]">
          <td>
            <timepicker
              ng-model="timePreferences.attributes.startTime"
              hour-step="1"
              minute-step="15"
            />
          </td>
          <td>
            <timepicker
              ng-model="timePreferences.attributes.endTime"
              hour-step="1"
              minute-step="15"
            />
          </td>
          <td>
            <button ng-click="removeTimePreference(timePreferences, group)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <table ng-show="group.dinnerTimes" class="dinner-table">
      <colgroup>
        <col class="col-dinner" />
        <col class="col-people" />
        <col class="col-rsvp" />
      </colgroup>
      <thead>
        <th>Dinner</th>
        <th>People</th>
        <th>RSVP</th>
      </thead>
      <tbody>
        <tr ng-repeat="dinner in group.dinnerTimes">
          <td>{{getEvent(dinner, group)}}</td>
          <td>{{(group.dinners[getTime(dinner)] || []).length | json}} going.</td>
          <td><button ng-click="rsvpToDinner(group, dinner)">RSVP</button></td>
        </tr>
      </tbody>
    </table>
    {{dinners | json}}
  </div>
</div>
