<div class="well">
  <button ng-click="toggleAddGroupDialog()" ng-bind="addGroupButtonText"></button>

  <div ng-show="addGroupDialogVisible">
    <form class="form-horizontal" name="groupForm" novalidate>
      <div class="form-group">
        <label class="col-md-2 control-label" for="group-name">Group name</label>
        <div class="col-md-10">
          <input
            class="form-control"
            type="text"
            ng-model="group.name"
            name="groupName"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="member-selector">Add friend</label>
        <div class="col-md-10">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="Search friends..."
              typeahead="i as i.attributes.name for i in getFriends($viewValue)"
              autocomplete="off"
              ng-model="selectedFriend"
            />
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="addMember(selectedFriend)">Add</button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <table class="group-table">
            <colgroup>
              <col class="group-member-name" />
              <col class="group-member-remove" />
            </colgroup>
            <thead>
              <th>Name</th>
              <th>Remove</th>
            </thead>
            <tbody>
              <tr ng-repeat="i in group.members">
                <td>{{i.attributes.name}}</td>
                <td>
                  <button
                    ng-hide="i.id === currentUser.id"
                    ng-click="removeMember(i)"
                  >Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <input
        class="form-control btn-primary"
        type="submit"
        value="Add group"
        ng-click="addGroup()"
        ng-disabled="groupForm.$invalid"
        ng-class="{disabled: groupForm.$invalid}"
      />
    </form>
  </div>
</div>

<div>
  <div ng-hide="userGroups.length">You have no groups.</div>
  <div ng-repeat="group in userGroups">
    <h4>{{group.attributes.name}}</h4>
    <form class="form-horizontal">
      <button ng-click="addTimePreference(group)">Add time</button>
      <button ng-click="saveTimePreferences(group)">Save</button>
      <div ng-repeat="timePreferences in group.timePreferences | filter:{createdBy: currentUser}">
        <div class="form-group">
          <div class="col-md-2">
            Start time:
          </div>
          <div class="col-md-4">
            <timepicker
              ng-model="timePreferences.attributes.startTime"
              hour-step="1"
              minute-step="15"
            />
          </div>
          <div class="col-md-2">
            End time:
          </div>
          <div class="col-md-4">
            <timepicker
              ng-model="timePreferences.attributes.endTime"
              hour-step="1"
              minute-step="15"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
